<link href="https://api.fontshare.com/v2/css?f[]=panchang@400&display=swap" rel="stylesheet">
<div class="main-nav-div">
    <nav class="nav-header">
        <div class="nav-section-left">
            <ul class="nav-left">
                <li><a href="/">Shop</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/products">Brand</a></li>
            </ul>
        </div>
        <div class="nav-section-right">
            <ul class="nav-right">
                <li><a href="/">Home</a></li>
                <li><a href="/">Cart</a></li>
                <li><a href="/">Search</a></li>
            </ul>
        </div>
    </nav>
    <div>
        <input type="checkbox" id="check">
        <label for="check"><i class="fas fa-bars" id="btn"></i>
            <i class="fas fa-times" id="cancel"></i>
        </label>

        <div class="sidebar">
            <ul>
                <li><a href=""><i class=" "></i>Shop</a></li>
                <li><a href=""><i class=" "></i>About</a></li>
                <li><a href=""><i class=" "></i>Brand</a></li>
                <li><a href=""><i class=" "></i>Home</a></li>
                <li><a href=""><i class=" "></i>Cart</a></li>
                <li><a href=""><i class=" "></i>Search</a></li>
            </ul>
        </div>
                
    </div>
    <div><input type="checkbox" id="ccheck">
    <label for="ccheck">
      <i class="fas fa-shopping-cart"id="cart"></i>
      <i class="fas fa-times"id="cancel-cart"></i>
    </label>
        
    <div class="sidecart">
        <div class="cart-content">
            <div class="cart-header">
                <a href=""><i class="fas fa-shopping-cart"id="cart-logo"></i></a>
                <div class="header-title">
                        <h2>Your Cart</h2>
                        <span id="items-qty">5</span>
                </div>
            </div>
        <div class="cart-items"></div>
        <div class="cart-actions">
            <div class="subtotal">
                <p>SUBTOTAL</p>
            </div>
            <button>View Cart</button>
            <button>Checkout</button>
        </div>
        </div>
    </div>
</div>
    
</div>