.main-section-right {
    width: 75vw;
    height: 100%;
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
    gap: 1.5rem;
    font-family: "Renade", sans-serif;
}

.product-card {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border-radius: 5px;

    padding: 30px 20px 15px;
}

.element img {
    width: 100%;
    aspect-ratio: 1/1;

}

.title {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
    justify-content: start;

}

.element .title h3 {
    color: #444;
    font-size: 1.3rem;
    padding: 10px 5px;
}

.element .title p {
    font-size: 1.5rem;
    padding: 10px 3px;

}

.element button {
    top: 0;
    right: 0;
    margin: 5px;
    width: 35px;
    height: 35px;
    font-size: 25px;
    background-color: #fff;
    cursor: pointer;
}

/* .element button */

.element button:hover {
    background-color: #302652;
    color: #fff;
    transition: .2s;
}