.main-section-right {
    width: 100%;
    height: 100%;
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    gap: 1.5rem;
    font-family: 'RaleWay', sans-serif;
}

.main-section-right-main-color {
    background-image: linear-gradient(to bottom right, #404258, #474E68, #50577A, #6B728E);
    /* background-color: #252B48; */
}

.product-card {
    border-radius: 5px;
    padding: 30px 20px 15px;
    /* border: 1px solid black; */
    box-shadow: .2rem .3rem #2D3250;
}

.product-card-main-color {
    background-color: #262A56;
}

.element img {
    width: 100%;
    aspect-ratio: 1/1;

}

.element-font-color {
    color: #F6B17A;
}

.title {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
    justify-content: start;

}

.element .title h3 {
    padding: 10px 5px;
}

.element .title p {
    padding: 10px 3px;
}

.element button {
    top: 0;
    right: 0;
    margin: 5px;
    width: 35px;
    height: 35px;
    font-size: 25px;
    cursor: pointer;
    background-color: #F6B17A;
}


.element button:hover {
    transition: .2s;
    background-color: white;
    color: #F6B17A;
}

.font-h3 {
    font-size: 1.3rem;
    text-transform: uppercase;
}

.font-p {
    font-size: 1.5rem;
}