<div class="main-crs">
    <div class="main-crs slide-wrapper">
        <div class="main-crs slider">
            <img id="slide-1" src="https://images.unsplash.com/photo-1701017655822-d4f7a0569b40" alt="img1">
            <img id="slide-2"
                src="https://images.unsplash.com/photo-1701017655822-d4f7a0569b40?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MzJ8fHxlbnwwfHx8fHw%3D"
                alt="img3">
            <img id="slide-3"
                src="https://images.unsplash.com/photo-1700578074342-e730264db59e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="img3">
        </div>
    </div>
    <div class="slider-nav">
        <a href="#slide-1"></a>
        <a href="#slide-2"></a>
        <a href="#slide-3"></a>
    </div>
</div>