.footer {
    width: 100vw;
    height: 100%;
    background-color: #2D3250;
    padding: 20px;
    text-align: center;
}

.about-dec {
    font-family: 'RaleWay', sans-serif;
    font-size: 1.5rem;
}

.font-color {
    color: #F6B17A;
}

span {
    padding: 3px;
}

.footer a {
    text-decoration: none;
}