<div class="footer about-dec">

    <p class="p1">
        <a href="#">About Us</a><span>|</span><a href="#">Contact Us</a> <span>|</span> <a href="#">Privacy
            Policy</a><span>|</span><a href="">Team
            Members</a>
    </p>
    <p class="p2">Follow us on social media:
        <a href="" href="" rel="noopener noreferrer">Facebook</a><span>|</span>
        <a href="" href="" rel="noopener noreferrer">Twitter</a><span>|</span>
        <a href="" href="" rel="noopener noreferrer">Instagram</a>
    <p class="p3">&copy; 2023 Your Website. All Rights Reserved.</p>

</div>