<div class="footer about-dec">

    <p class="p1 font-color">
        <a class="font-color" href="/about">About Us</a><span>|</span>
        <a class="font-color" href="#">Contact Us</a><span>|</span>
        <a class="font-color" href="#">Privacy Policy</a><span>|</span>
        <a class="font-color" href="">TeamMembers</a>
    </p>
    <p class="p2 font-color ">Follow us on social media: </p>
    <a class="font-color" rel="noopener noreferrer">Facebook</a><span>|</span>
    <a class="font-color" rel="noopener noreferrer">Twitter</a><span>|</span>
    <a class="font-color" rel="noopener noreferrer">Instagram</a>

    <p class="p3 font-color">&copy; 2023 Your Website. All Rights Reserved.</p>

</div>