.main {
    width: 100vw;
    display: grid;
    grid-template-areas: "hd hd hd hd hd hd hd hd "
        "crs crs crs crs crs crs crs crs"
        "crs crs crs crs crs crs crs crs"
        "fl fl fl fl fl fl fl fl"
        "sc1 sc1 sc1 sc1 sc1 sc1 sc1 sc1"
        "sc1 sc1 sc1 sc1 sc1 sc1 sc1 sc1"
        "sc1 sc1 sc1 sc1 sc1 sc1 sc1 sc1"
        "sc1 sc1 sc1 sc1 sc1 sc1 sc1 sc1"
        "ab ab ab ab ab ab ab ab ";
}

app-header {
    position: sticky;
    top: 0;
    grid-area: hd;
    min-width: 0;
    min-height: 0;
    max-height: 8rem;
    border: .5px solid rgb(24, 18, 18);
}

app-carousel {
    grid-area: crs;
    min-width: 0;
    min-height: 0;

}

app-page-filter {
    grid-area: fl;
    min-width: 0;
    min-height: 0;

}

app-section-left {

    grid-area: pc;
    min-width: 0;
    max-width: 25vw;
    min-height: 0;
}

app-section-right {
    grid-area: sc1;
    min-width: 0;
    min-height: 0;
    max-height: auto;
}

app-abouts {
    grid-area: ab;
    min-width: 0;
    min-height: 0;
}

@media screen and (max-width:450px) {

    .main {
        grid-template-areas: "hd hd hd hd hd hd hd hd "
            "crs crs crs crs crs crs crs crs"
            "crs crs crs crs crs crs crs crs"
            "fl fl fl fl fl fl fl fl"
            "sc1 sc1 sc1 sc1 sc1 sc1 sc1 sc1"
            "sc1 sc1 sc1 sc1 sc1 sc1 sc1 sc1"
            "sc1 sc1 sc1 sc1 sc1 sc1 sc1 sc1"
            "sc1 sc1 sc1 sc1 sc1 sc1 sc1 sc1"
            "ab ab ab ab ab ab ab ab ";
    }

    app-section-left {
        display: none;
    }
}