.main-div-fiter {
    width: 100%;
    height: 100%;
    padding: 10px 5px;
}

.sub-div-filter {
    display: grid;
    grid-template-columns: 1fr 1fr 10fr;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 25px;
}

.sorting {
    display: inline-flex;
    align-items: center;
    padding: 0.6rem 1rem;
    margin-bottom: 2rem;
    box-shadow: .2rem .1rem black;

}

.header {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;
    font-weight: 500;
}

.sorting select {
    text-transform: uppercase;
    border: 0;
    margin-left: 0.4rem;
    margin-top: -0.1rem;
}

option {
    font-weight: normal;
    display: block;
    min-height: 1.2em;
    padding: 0px 2px 1px;
    white-space: nowrap;
}

.color-white-sortby {
    background-color: #7077A1;
    color: #ffffff66;
}

.main-color {
    background-color: #2D3250;
}

.main-color-filter {
    background-color: #7077A1;
}

.font {
    font-family: 'Times New Roman', Times, serif;
}

.font-400 {
    font-size: 10px;
    font-weight: 400;
}