<app-header></app-header>
<div class="section">
    <div class="container">
        <div class="content-area">
            <div class="title">
                <h1>About Us</h1>
            </div>
            <div class="content">
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum pariatur reiciendis ullam omnis quas
                    maiores, quia ex sit deserunt sint soluta, fugiat tempore qui libero incidunt, minus dicta.
                    Delectus, ex.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore odio numquam esse in eligendi
                    assumenda repellendus facere, voluptatibus pariatur laborum excepturi vero doloribus, cumque saepe
                    voluptates temporibus natus voluptatum praesentium!</p>
                <div class="button">
                    <a href="">Read More</a>
                </div>
            </div>
            <div class="social">
                <a href=""><i class="fab fa-twitter"> </i></a>
                <a href=""><i class="fab fa-facebook-f"> </i></a>
                <a href=""><i class="fab fa-instagram"> </i></a>
            </div>

        </div>
        <div class="image-section"><img [src]="'data:image/png;base64,'+image" alt="air_uiniversity">
        </div>
    </div>


</div>


<app-abouts></app-abouts>