<app-header></app-header>
<div class="aboutus">
    <div class="heading">
    <h1><b>About Us</b></h1>
    <h4>LOREM IPSUM</h4>
    </div>
<div class="our-approach">
   
   <div class="container">
       <div class="content-area">
           <div class="title">
               <h2>Our  approach </h2>                   
           </div>
           <div class="content">
           
           <p>We believe in the power of a well-curated selection. Our team of book lovers meticulously selects titles across genres, ensuring a diverse collection that caters to varied tastes and preferences. Every book in our inventory is chosen with care and consideration.</p>
       </div>
       </div>
       <div class="image-section"><img [src]="'data:image/jpg;base64,'+image2" alt="vision">
       </div>
   </div>
</div>

<div class="our-vision">
   
<div class="container-vision">
   <div class="content-area-vision">
       <div class="title">
           <h1>Our Vision</h1>                   
       </div>
       <div class="content">
       
       <p>We envision our platform as a space that amplifies diverse voices and perspectives. By showcasing a broad range of authors and stories, we aim to celebrate the richness of human experiences and promote inclusivity within the literary world.</p>
   </div>
   </div>
   <div class="image-section-vision"><img [src]="'data:image/jpg;base64,'+image1" alt="vision">
   </div>
</div>
</div>
</div>

<app-abouts></app-abouts>