* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* border: 1px red dotted; */
}

html {
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
}

body {
    width: 100vw;
    height: auto;

}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;

}