<div class="main-crs">
    <div class="main-crs slide-wrapper">
        <div class="main-crs slider">
            <img id="slide-1" [src]="'data:image/jpeg;base64,'+img1" alt="img1" width="100vw">
            <img id="slide-2" [src]="'data:image/jpeg;base64,'+img2"alt="img3" width="100vw">
            <img id="slide-3" [src]="'data:image/jpeg;base64,'+img3" alt="img3" width="100vw">
        </div>
    </div>
    <div class="slider-nav">
        <a href="#slide-1"></a>
        <a href="#slide-2"></a>
        <a href="#slide-3"></a>
    </div>
</div>